%p
  %span 動画作成を受け付けました。
  %br
  %span 動画は先着順で作成しており、完成は
  %span.red-text= @work.wait_time_text
  %span を予定しています。完成しましたら、画面右上の通知アイコンにてお知らせいたします。
%p.text-muted.font-85
  さらに高品質な動画を作りたい方、自分だけの理想の顔を作りたい方、実在する人物の顔を使いたい方は#{link_to "こちら", order_path}
