%main.text-center
  .row
    .col-lg-6.offset-lg-3
      .card.mt-5
        .view view
        .card-body
          %h1.h1-responsive.my-2.card-title
            %strong サービス名
          %p.card-text
            カードテキストカードテキストカードテキストカードテキストカードテキストカードテキストカードテキストカードテキストカードテキスト
          %section.my-3
            .btn-group-vertical{role: "group", "aria-label": "Vertical button group"}
              %span.badge-pill.badge.orange バッジ1
              .my-3
              %span.badge-pill.badge.orange バッジ2
