- title "お問い合わせ"
- h1_text_only "お問い合わせ"

.text-only
  %p
    当サイトは@shita1112が個人で開発・運営してます。
  %p
    お問い合わせはTwitterで #{link_to "@shita1112", Settings.twitter_url, target: "_blank"} にDMをください。
    %br
    Twitterで連絡をとれない方はrealvtuber@gmail.comにメールをください。ただTwitterの方が早く気付けるので、可能ならTwitterの方に連絡をいただけるとありがたいです🙇

