- title "高品質な動画を作る・顔を作る"

.text-only
  %h1.h1-responsive.my-4 高品質な動画を作る・顔を作る

  %p
    以下の依頼は、現在直接お受けしています。

  %ul
    %li さらに高品質な動画を作る（通常作成よりもAIによる学習時間を増やし、解像度を上げて、より自然な出来にする）
    %li 自分だけの理想の顔を作る（なりたい顔のイメージを教えていただき、そのイメージの顔をAIに作成させる）
    %li 実在する人物の顔を使う（著作権等、法的に問題がない場合のみ）
    %li 1分・10MB以上の動画を作る
    %li その他の依頼

  %p
    依頼をされる方は、Twitterで #{link_to "@shita1112", Settings.twitter_url, target: "_blank"} にDMをください。
    %br
    （Twitterで連絡をとれない方はrealvtuber@gmail.comにメールをください。ただTwitterの方が早く気付けるので、可能ならTwitterの方に連絡をいただけるとありがたいです🙇）
  %p
    依頼は全て無料でお受けしますが、個人の趣味で開発・運営しているサービスですので、あまりリソースをさけません。
    %br
    そのため、実際にYoutube等に動画を公開してくださる方から優先的に対応させて頂きます。
    %br
    申し訳ありませんが、よろしくおねがいします🙇
