.font-50{
  font-size: 50%;
}
.font-75{
  font-size: 75%;
}
.font-150{
  font-size: 150%;
}
.font-200{
  font-size: 200%;
}
.h-100px{
  height: 100px;
}
.h-200px{
  height: 200px;
}
.w-60 {
  width: 60%;
}
.w-85 {
  width: 85%;
}
.wh-100px {
  width: 100px;
  height: 100px;
}
.wh-0 {
  width: 0;
  height: 0;
}
.mt-50px{
  margin-top: 50px;
}
.pointer {
  cursor: pointer;
}
.cursor-default {
  cursor: default;
}
.is-sm {
  max-width: 680px;
}
.readable-long-text {
  line-height: 1.8;
}
.box-shadow-0 {
  box-shadow: 0 0 !important;
}
